<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title>TOD Blog - {{title}}</title>
  {% else %}
  <title>TOD Blog</title>
  {% endif %}
</head>

<body>
  <header>
    <a href="{% url 'homepage' %}">Home</a>
  </header>

  {% block content %}
  {% endblock content %}

  <footer>
    &copy; <a href="">TOD Blog
      <script>
        new Date().getFullYear()
      </script>
  </footer>

</body>

</html>